name: JaCoCo Code Coverage

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew
      - name: Build and generate JaCoCo report artifact
        run: ./gradlew test jacocoTestReport
